.svg {
  width: 20px;
  height: auto;
  display: flex;
  /* border: 2px solid black; */
  transform: scale(1.3);
}

.svg path {
  transition: 1s;
  stroke-dasharray: 960;
  stroke-dashoffset: 960;
}

.path0 {
  stroke-width: 18;
  stroke-miterlimit: 10;
  stroke: transparent;
  fill: rgb(78, 120, 197);
  fill-opacity: 0;
  transform: scaleX(0) scaleY(0);
  transform-origin: right;
  transition-delay: .5s !important;
}
.path1 {
  stroke: rgb(43, 83, 156);
  fill: white;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg.show {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.svg.show path {
  stroke-dashoffset: 0;
}

.svg.show .path0 {
  fill-opacity: 1;
  transform: unset;
}
