.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 95%;
  border: 2px solid white;
  border-radius: 3px;
  margin-bottom: 5px;
  transform: scale(0.8);
}

.square {
  width: 13px;
  height: 13px;
  margin-left: 3px;
  margin-top: 2px;
  position: absolute;
  border: 2px solid white;
}

.lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line {
  background-color: white;
  width: 85%;
  height: 2px;
  flex-shrink: 0;
  margin-top: 5.5px;
  margin-right: 2px;
  display: flex;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    width: 35%;
  }
}
