.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  /* border: 1px solid red; */
}

.topic {
  flex-grow: 1;
  max-height: 3px;
  background-color: white;
  margin-top: 5px;
  border-radius: 50px;
}

.mainTopic {
  width: 75%;
}

.subTopic {
  margin-left: 14px;
}

.branches {
  position: absolute;
  top: 10px;
  margin-left: 5px;
  background-color: white;
  height: 22px;
  width: 3px;
}

.branch {
  width: 6px;
  height: 3px;
  margin-left: 0px;
  background-color: white;
  margin-top: 3px;

  &:not(:first-of-type) {
    margin-top: 5px;
  }
}
