.syncIconSVG {
  width: 20px;
  height: 20px;
  margin-right: 1px;
  margin-top: 0px;
  transition: 0.2s;
  transform: rotate(10deg) scale(1.3);
  /* border: 2px solid red; */
}

/* .syncIconSVG.animate {
    filter: 
    drop-shadow(0 0 2px cyan)
    drop-shadow(0 0 10px cyan)
    drop-shadow(0 0 20px cyan)
    ;
    animation: 1s infinite linear rotateSync;
} */

@keyframes rotateSync {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(190deg);
  }
}

.syncIconPath0 {
  fill: none;
  stroke: whitesmoke;
  stroke-width: 40;
  stroke-miterlimit: 10;
}

.syncBtn.syncAvailable {
  .syncIconPath0 {
    stroke: cyan;
  }

  .syncIconSVG:hover {
    filter: drop-shadow(0 0 2px cyan) drop-shadow(0 0 10px cyan) drop-shadow(0 0 20px cyan);
    cursor: pointer;
  }
}
