.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.8);
  /* border: 1px solid red; */
}

.todoItem {
  display: flex;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.check {
  position: absolute;
  left: -10px;
  width: 15px;
  height: 10px;
  margin-top: 0px;
  /* border: 1px solid white; */

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg) translateY(2px);
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
  }
}

.line {
  background-color: white;
  width: 100%;
  height: 3px;
  margin-left: 13px;
}
