.glowOrb {
  position: absolute;
  width: 3px;
  height: 3px;
  bottom: 55px;
  right: 116px;
  pointer-events: none;

  &:nth-of-type(2) {
    right: 79px;
    bottom: 40px;
  }
  
  &:nth-of-type(3) {
    right: 93.5px;
    bottom: 215px;
  }
  
  &:nth-of-type(4) {
    right: unset;
    left: 97px;
    bottom: 180px;
  }
  
  &:nth-of-type(5) {
    right: unset;
    left: 104px;
    bottom: 290px;
  }
}

.orb {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.5);
  border-radius: 50px;
}

@keyframes glowAnim {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.transformWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  animation-duration: 10s;
  /* animation-duration: .3s; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  animation-delay: 2s;
}

.animate .transformWrapper {
  /* animation-name: glowTransformLargeAnim; */
}

.glowOrb.animate:nth-of-type(2) .transformWrapper,
.glowOrb.animate:nth-of-type(3) .transformWrapper {
  /* animation-name: glowTransformMediumAnim; */
}

.glowOrb:nth-of-type(1) .transformWrapper {
  animation-delay: 4s;
}

.glowOrb:nth-of-type(2) .transformWrapper {
  animation-delay: 6s;
}

.glowOrb:nth-of-type(3) .transformWrapper {
  animation-delay: 4s;
}

.glowOrb.animate:nth-of-type(4) .transformWrapper {
  /* animation-name: glowTransformSmallAnim; */
  animation-delay: 7s;
}

.glowOrb.animate:nth-of-type(5) .transformWrapper {
  /* animation-name: glowTransformExtraSmallAnim; */
  animation-delay: 9s;
}

.transformWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 0 cyan, 0 0 10px 0 cyan;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.animate .transformWrapper::before {
  /* animation-name: glowAnim; */
}

@keyframes glowTransformLargeAnim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  4% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    transform: translateY(-120px);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
}

@keyframes glowTransformMediumAnim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  4% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

@keyframes glowTransformSmallAnim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  4% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes glowTransformExtraSmallAnim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  4% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    transform: translateY(-38px);
  }
  100% {
    opacity: 0;
    transform: translateY(-38px);
  }
}
