.tickIconSVG {
  position: absolute;
  /* background-color: blue; */
  filter: drop-shadow(0px 1.5px 2px rgb(220, 220, 220));
  transition: 0.2s, 1s stroke-dashoffset;
  stroke-dasharray: 1250;
  stroke-dashoffset: 1250;

  /* stroke-dasharray: 600;
    stroke-dashoffset: 600; */

  width: 100%;
  animation-duration: 2s;
  /* animation-name: tickIconAnim; */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.tickIconSVG.show {
  stroke-dashoffset: 0;
}

@keyframes tickIconAnim {
  0% {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dasharray: 600;
    stroke-dashoffset: 1800;
  }
}

.tickIconSVG:nth-child(2) {
  filter: drop-shadow(0px 0px 10px greenyellow) drop-shadow(0px 0px 2px greenyellow);
}

@keyframes tickIconAnim2 {
  0% {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 1200;
  }
}

/* .tickIconSVG:hover {
    filter: 
    drop-shadow(0px 0 2px rgb(122, 43, 43))
    drop-shadow(0px 0 1px rgba(255, 255, 255, 0.9))
    drop-shadow(0px 1.5px 2px rgb(106, 245, 93, 0.5))
    drop-shadow(0px 0px 3px rgba(175, 175, 175, 0.7));
} */

.tickIconSVG .tickIconPath0 {
  fill: transparent;
  stroke: white;
  stroke-width: 15;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}
