.navigationButtonsContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  transform: rotateY(180deg);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
  border-bottom-left-radius: 50px;
  /* border: 1px solid red; */
}

.navigationButtonsContainer::before {
  position: absolute;
  content: "";
  left: -65%;
  top: -20%;
  width: 100%;
  height: 140%;
  background: linear-gradient(to right, transparent, white);
  z-index: 10;
  border-radius: 150px;
  opacity: 0;
  transform: translateX(80px);
  transition: 0.8s;
  pointer-events: none;
}

.navigationButtonsContainer.open::before {
  opacity: 0.05;
  transform: unset;
}

.menuList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  list-style: none;
  /* border: 2px solid red; */
  padding: 0px;
  margin: 0px;
}
