.menuListItem {
  padding: 20px 20px;
  padding-top: 50px;
  width: 100%;
  transition-duration: 1s;
  transition-property: all;
  /* border: 3px solid black; */

  &:nth-child(1),
  &:nth-child(2) {
    /* opacity: 0; */
  }

  &:not(:last-child) {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.75);
  }

  &.open {
    border-bottom-left-radius: 50px;
  }
  /*  */
  &:not(:first-of-type) {
    margin-top: -45px;
  }
}

.link {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: none;
}

.iconWrapper {
  position: absolute;
  left: 30px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  opacity: 0;
  /* border: 4px solid black; */
  width: 100px;
  transform: translateY(-10px);
  transition-duration: 1s;
}

.menuListItem.open .iconWrapper {
  opacity: 1;
  transform: unset;
}

.menuListItem p {
  margin: 0px;
  position: relative;
  top: 10px;
  margin-left: 20%;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-family: Quicksand;
  opacity: 0;
  transform: translateX(10px);
  transition-duration: 1s;
  user-select: none;
}

.menuListItem {
  &.active p {
    transition-duration: 0.3s !important;
    transition-delay: 0s !important;
    transform: scale(1.1) !important;
  }

  &:first-of-type p {
    top: 5px;
  }

  &.open p {
    opacity: 1;
    transform: unset;
  }

  &:nth-child(1) {
    background: linear-gradient(rgb(195, 223, 245) 40%, rgb(96, 157, 192));
    z-index: 4;
    padding-top: 10px;
  }

  &:nth-child(2) {
    background: linear-gradient(rgb(130, 205, 255) 30%, rgb(21, 121, 179) 120%);
    z-index: 3;
  }

  &:nth-child(3) {
    background: linear-gradient(rgb(56, 159, 255) 70%, rgb(29, 128, 221) 120%);
    z-index: 2;
  }

  &:nth-child(4) {
    background: linear-gradient(rgb(35, 149, 255) 60%, rgb(25, 66, 201) 120%);
    z-index: 1;
  }
}

@media screen and (max-width: 400px) {
  .iconInnerWrapper {
    transform: scale(0.7) translateX(-20px);
  }
}

@media screen and (max-width: 300px) {
  .iconInnerWrapper {
    transform: scale(0.7) translateX(-40px);
  }
}

@media screen and (max-width: 450px) {
  .menuListItem p {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .menuListItem p {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .menuListItem p {
    font-size: 25px;
  }
}
