.main {
  width: 100%;
  height: fit-content;
  /* border: 3px solid black; */
}

.swiper {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 2;
  /* border: 5px solid red; */
}

.slide {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  /* border: 2px solid blue; */
}

@media screen and (max-width: 500px) {
  .slide {
    padding: 20px 5px;
  }
}

.radioWrapper {
  position: relative;
  margin-top: -35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 5%;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.8s;
  /* border: 2px solid green; */

  &.show {
    opacity: 1;
    transform: unset;
  }
}

.radio {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
  padding: 10px;
  border: none;
  margin: 0px;
  outline: none;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: inherit;
    background-color: darkgrey;
    box-shadow: 0 0 10px 0 darkgrey;
    border: 1px solid rgb(209, 209, 209);
  }

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: inherit;
    transition: 0.5s;
    background: radial-gradient(cyan, rgb(80, 77, 245));
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    z-index: 3;
  }

  &:not(:first-of-type) {
    margin-left: 20px;
  }

  &.selected::before {
    opacity: 1;
    transform: unset;
    box-shadow: 0 0 5px 0 rgb(80, 77, 245);
  }
}
