.wrapper {
  background: radial-gradient(rgb(102, 147, 243), rgb(72, 116, 151));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  box-shadow: 0px 0px 20px 0 rgba(102, 102, 102, 0.3);
  border-radius: 10px;
  font-family: Quicksand;
  font-weight: 400;
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(20px);
  position: relative;
  padding-right: 70px;

  &.show {
    opacity: 1;
    transform: unset;
  }

  p {
    padding: 10px 10px;
    font-size: 20px;
    white-space: pre;
    color: white;
    text-align: center;
  }
}

.iconContainer {
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid greenyellow; */
}

.whiteSpaceWrapper {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.whiteSpaceWrapper::before {
  position: absolute;
  content: "";
  top: 0px;
  right: -10px;
  width: 30%;
  height: 100%;
  background-color: white;
  transition: 0.2s;
  transform: skewX(-20deg);
  box-shadow: 0 0 20px 0 black;
}

.whiteSpaceWrapper::after {
  position: absolute;
  content: "";
  right: 10px;
  width: 6px;
  height: 6px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  transform: rotate(45deg) translateX(-4px) translateY(4px);
  z-index: 2;
  opacity: 0;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.wrapper:hover {
  .whiteSpaceWrapper {
    &::before {
      transform: skewX(-10deg) translateX(-0px) scaleX(1.3);
      box-shadow: -1px 0 2px aquamarine, -5px 0 40px aquamarine, 0 0 10px blue;
    }

    &::after {
      animation-name: arrowRightAnim;
    }
  }
}

@keyframes arrowRightAnim {
  0% {
    transform: rotate(45deg) translateX(-4px) translateY(4px);
    opacity: 0;
  }
  20% {
    transform: rotate(45deg) translateX(0px) translateY(-0px);
    opacity: 1;
  }
  40% {
    transform: rotate(45deg) translateX(5px) translateY(-5px);
    opacity: 0;
  }
  41% {
    transform: rotate(45deg) translateX(-4px) translateY(4px);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg) translateX(0px) translateY(-0px);
    opacity: 1;
  }
}

.iconWrapper {
  position: relative;
  right: 20px;
  height: 100%;
  display: flex;
  transition: 0.2s;
  /* border: 1px solid red; */
}

.wrapper:hover .iconWrapper {
  transform: translateX(-10px);
}
