.btn {
  background: linear-gradient(#a6afaf, rgb(229, 240, 252));
  padding: 10px 20px;
  padding-right: 50px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(47, 79, 79, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s 0.5s;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);

  &.blue {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(#96bdbd, rgb(156, 201, 245));
  }

  &.show {
    opacity: 1;
    transform: unset;
  }

  p {
    animation-duration: 0.8s;
    color: darkslategrey;
    /* color: white; */
    margin: 0px;
  }

  p {
    &.animate {
      /* animation-name: downloadBtnTextAnim; */
      /* animation-iteration-count: infinite; */
    }
  }
}

.separatingLine {
  height: 20px;
  width: 1px;
  margin-left: 10px;
  background-color: rgb(206, 206, 206);
  box-shadow: 1px 0 1px 0px white;
}

@keyframes downloadBtnTextAnim {
  0% {
    color: darkslategrey;
  }
  50% {
    color: rgb(86, 137, 150);
  }
  100% {
    color: darkslategrey;
  }
}

.downloadTextWrapper {
  display: flex;
  flex-direction: column;
}

.downloadText {
  display: flex;
}

.fileNameAndSizeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s 2.4s;
  overflow: hidden;
  /* max-height: 0px; */

  p {
    font-size: 11px;
    font-weight: normal;
    color: darkslategrey;
  }

  .hyphen {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* .btn.show .fileNameAndSizeWrapper {
  max-height: 20px;
} */
