.outerWrapper {
  position: absolute;
  left: 0px;
  width: 97%;
  height: 100%;
  height: calc(100% + 20px);
  display: flex;
  justify-content: flex-end;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-property: all, opacity;
  transform: translateX(4%);
  opacity: 0;
  /* border: 2px solid white; */

  &.show {
    transform: unset;
    opacity: 1;

    .trapezius {
      &:nth-of-type(1) {
        transform: translateX(-5px) skewX(-30deg) translateY(0px);
      }

      &:nth-of-type(2) {
        transform: translateX(-5px) skewX(30deg) translateY(0px);
      }
    }
  }

  &.blue .container {
    background: linear-gradient(to top, rgb(87, 188, 228), rgb(116, 135, 148));
  }
}

.wrapper {
  position: relative;
  right: 0;
  height: 100%;
  width: 30px;
  /* border: 1px solid red; */
}

.container {
  width: 100%;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: linear-gradient(to top, rgb(180, 209, 221), rgb(114, 119, 122));
  box-shadow: -7px 2px 10px 0px rgba(7, 33, 82, 0.5), -5px 0 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.trapeziusWrapper {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 100%;
  z-index: 1;
}

.trapezius {
  position: absolute;
  width: 20px;
  height: 9.5px;
  background-color: rgb(116, 135, 148);
  transition: 1s;

  &:nth-of-type(1) {
    top: 0px;
    transform: translateX(-0px) skewX(-0deg) translateY(0px);
  }

  &:nth-of-type(2) {
    bottom: 0px;
    transform: translateX(-0px) skewX(0deg) translateY(0px);
  }
}

.arrowsDownWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.outerWrapper:hover .arrowsDownWrapper > * {
  /* border: 1px solid red; */
  /* animation-name: arrowDownAnim; */
  animation-duration: 0.6s;
}

.outerWrapper .arrowsDownWrapper > *:nth-of-type(2) {
  animation-delay: 0.1s;
}

@keyframes arrowDownAnim {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    transform: translateY(5px);
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  76% {
    transform: unset;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
