.downloadIcon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50px;
  height: 70px;
  position: relative;
  /* border: 2px solid red; */
}

.downloadIcon::before {
  position: absolute;
  content: "";
  transform: rotate(135deg);
  margin-top: -15px;
  width: 20px;
  height: 20px;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  transition: 0.05s;
}

.downloadIcon::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: -15px;
  width: 5px;
  height: 30px;
  transition: 0.05s;
}

.downloadIcon .line {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5px;
  border-radius: 10px;
  transition: 0.05s;
}

.downloadIcon.active {
  filter: drop-shadow(0 0 5px white);
}

.downloadIcon.active::before {
  border-color: white;
}

.downloadIcon.active::after,
.downloadIcon.active .line {
  background-color: white;
}
