.videoListItem {
  margin-bottom: 20px;
  width: 25%;
  min-width: 250px;
  height: 250px;
  position: relative;

  iframe {
    border-radius: 10px;
  }

  &:not(:first-child) {
    margin-left: 1px;
  }

  a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.titleScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  border-radius: 10px;

  & .veil {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

  h4 {
    text-align: center;
    color: white;
    z-index: 2;
    transition: 0.3s;
    font-family: Quicksand;
  }

  &.hide .veil {
    pointer-events: none;
    transform: translateX(100%);
  }
}

@media screen and (max-width: 900px) {
  .videoListItem {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .videoListItem {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .titleScreen h4 {
    font-size: 18px;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .videoListItem {
    min-width: unset;
  }

  .titleScreen h4 {
    font-size: 15px;
    width: 80%;
  }
}
