.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-height: 10%;
  position: relative;
  /* border: 2px solid red; */

  button {
    cursor: pointer;
  }
}

.currentPage {
  margin-left: -80px;
  margin-top: 3px;
  position: absolute;
  background-color: rgba(217, 244, 255, 0.5);
  border-radius: 5px;
  /* display: none; */
  padding: 2px 10px;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: cursive;
  color: rgb(68, 77, 94);
  font-size: 13px;
}

.showCoordinatesBtnContainer {
  position: absolute;
  right: 20px;
  width: 55px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: none;
  outline: none;
  opacity: 0;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(130deg, rgb(167, 253, 253), rgb(138, 248, 180));
    opacity: 0.4;
  }

  p {
    position: absolute;
    font-size: 10px;
    color: rgb(100, 100, 100);
    margin-top: 2px;
    z-index: 2;
    letter-spacing: 1px;

    &:nth-of-type(1) {
      right: 4px;
      font-weight: bold;
    }

    &:nth-of-type(2) {
      left: 5px;
    }
  }
}

.showCoordinatesBtn {
  position: absolute;
  left: 2px;

  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  height: 90%;
  padding: 0 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold;
  border-radius: 20px;
  /* background: radial-gradient(grey, black); */
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 4px 0 rgba(0, 0, 0, 0.4);

  color: rgb(85, 85, 85);
  transition: 0.3s;
  outline: none;
  z-index: 2;
  font-family: cursive;
}

.showCoordinatesBtnContainer.active .showCoordinatesBtn {
  transform: translateX(105%);
  /* color: rgb(0, 255, 128);
  text-shadow: 0 0 1px rgb(0, 255, 128), 0 0 5px rgba(0, 255, 128, 0.5),
    0 0 10px rgba(0, 255, 128, 0.5); */
}

.navButtons {
  display: flex;

  button {
    background: none;
    border-radius: 10px;
    background: linear-gradient(130deg, rgba(167, 253, 253, 0.4), rgba(138, 195, 248, 0.9));
    color: black;
    outline: none;
    cursor: pointer;
    /* border: 1px solid grey; */
    border: none;
    box-shadow: -2px 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    font-family: cursive;
    color: rgb(68, 77, 94);
    transition: 0.1s all, 0.3s padding-left, 0.3s padding-right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    &:hover {
      filter: brightness(120%);
      color: rgb(44, 50, 61);
    }

    &:active {
      transition: 0.05s;
      transform: scale(0.9) translateY(2px);
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 5px;
      width: 5px;
      opacity: 0;
      transition: 0.3s;
    }

    &:nth-of-type(2)::before {
      right: 10px;
      border-top: 1px solid darkslategray;
      border-right: 1px solid darkslategray;
      transform: rotate(45deg);
    }

    &:nth-of-type(1)::before {
      left: 10px;
      border-top: 1px solid darkslategray;
      border-left: 1px solid darkslategray;
      transform: rotate(-45deg);
    }

    &:nth-of-type(1):hover,
    &:nth-of-type(1):active {
      padding-left: 25px;
    }
    &:nth-of-type(2):hover,
    &:nth-of-type(2):active {
      padding-right: 25px;
    }

    &:nth-of-type(1):hover::before,
    &:nth-of-type(1):active::before,
    &:nth-of-type(2):hover::before,
    &:nth-of-type(2):active::before {
      opacity: 1;
    }
  }
}

.tickIconsWrapper {
  position: absolute;
  margin-top: 15px;
  margin-right: -200px;
  width: 35px;
  height: 50px;
  /* border: 5px solid black; */
}
