.svg {
  width: 20px;
  height: auto;
  transform: scale(1.3, 1.3);
}

.svg path,
.svg line {
  transition: 1.5s;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  /* rgb(78, 120, 197)
    rgb(43, 83, 156) */
  stroke: rgb(43, 83, 156);
  stroke-linejoin: round;
}

.path0 {
  stroke-width: 10px;
  fill: whitesmoke;
  fill-opacity: 0;
}

.path1 {
  stroke: rgb(43, 83, 156);
  stroke-width: 20px;
  fill: transparent;
}

.path2 {
  fill: transparent;
  stroke-width: 12px;
  stroke: rgb(43, 83, 156);
}

.path3 {
  stroke: rgb(43, 83, 156);
  stroke-width: 14px;
  fill: transparent;
}

.svg.show {
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.4));
}

.svg.show .path0 {
  fill-opacity: 1;
}

.svg.show path,
.svg.show line {
  stroke-dashoffset: 0;
}
