.container {
  width: 80px;
  height: 30px;
  transform-style: preserve-3d;
  perspective: 30px;
  /* border: 1px solid red; */
}

.wrapper {
  transform: rotateY(-25deg) translateZ(4px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.square {
  display: flex;
  width: 30%;
  height: 35%;
  background-color: white;
  margin-right: 3px;
  transition: 0.8s ease-in-out;
  opacity: 0;
  transform: translateX(3px);
  /* border: 1px solid red; */

  &:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  &:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  &:nth-of-type(4) {
    transition-delay: 0.3s;
  }
}

.wrapper {
  &.show .square {
    transform: unset;
    opacity: 1;
  }

  &.colorize {
    .square {
      &:nth-of-type(1) {
        background-color: rgb(253, 140, 120);
      }
      &:nth-of-type(2) {
        background-color: rgb(169, 216, 75);
      }
      &:nth-of-type(3) {
        background-color: rgb(104, 195, 255);
      }
      &:nth-of-type(4) {
        background-color: rgb(255, 203, 73);
      }
    }
  }
}
