.pointerInstructionWrapper {
  position: absolute;
  right: 90px;
  margin-right: 30px;
  max-width: 300px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  /* transition: .2s transform, .2s opacity, .2s margin-top .2s, .2s margin-left .2s, .2s margin-right .2s, .2s left .2s, .2s right .2s; */
  transition: 0.2s;
  // border: 4px solid red;

  &.animateOut {
    transform: translateX(-5px);
    opacity: 0;
  }

  &.marginTop {
    margin-top: 40px;
  }

  &.rightSide {
    left: 90px;
    margin-left: 30px;
    justify-content: flex-start;
  }

  &.s {
    margin-right: unset;

    &.rightSide {
      left: 70px;
    }
  }

  &.m {
    margin-right: unset;

    &.rightSide {
      left: 70px;
    }
  }
}

.pointerInstruction {
  color: black;
  background-color: rgb(246, 251, 255);
  padding: 10px;
  border-radius: 20px;
  box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid grey;
  max-width: 100%;
  width: 100%;
  width: fit-content;
  /* border: 2px solid red; */
}
