.page {
  width: 100%;
  height: 100%;
  max-width: 80%;
  /* border: 1px solid red; */
}

.tutorialsPanelWrapper {
  position: relative;
}
@media screen and (max-width: 1100px) {
  .tutorialsPanelWrapper {
    display: flex;
    justify-content: center;
  }
}
