.pageWrapper {
  display: flex;
  align-items: center !important;
  /* border: 2px solid red; */
}

.downloadButtonsWrapper {
  display: flex;
  /* border: 2px solid red; */
}

.downloadBtnWrapper {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid cyan; */

  &:not(:first-of-type) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 850px) {
  .pageWrapper {
    flex-direction: column-reverse !important;
  }

  .paragraphWithHeaderWrapper > div {
    max-width: 300px;
  }

  .downloadBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      margin-right: 15px;
    }

    &:not(:first-of-type) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 670px) {
  .paragraphWithHeaderWrapper > div {
    max-width: 280px;

    > div {
      padding: 30px 10px !important;
    }
  }
}

@media screen and (max-width: 580px) {
  .downloadButtonsWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .downloadBtnWrapper {
    width: 100%;

    &:nth-child(1) {
      margin-right: 0px;
    }

    &:nth-child(2) {
      margin-top: 20px;
    }
  }

  .paragraphWithHeaderWrapper {
    width: 100%;

    > div {
      max-width: unset;

      > div {
        padding: 30px !important;
      }
    }
  }
}

.paragraphWithHeaderWrapper > div {
  margin-bottom: 10px;
  border-radius: 10px;
}

.mobileNotification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 5px;
  padding: 20px 15px;
  padding-bottom: 30px;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: -5px 5px 30px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 10%;
  max-width: 350px;
  z-index: 5;
  /* border: 2px solid red; */

  &.hide {
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
  }

  button {
    background: linear-gradient(-40deg, rgb(147, 178, 187), rgb(108, 127, 161));
    padding: 10px 20px;
    border: none;
    color: white;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}

.veil {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent -80%, rgba(0, 0, 0, 0.7));
  z-index: 4;
  transition: 0.5s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
