.hexagonSVGWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.hexagonSVGWrapper .bubblesWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagonSVGWrapper .bubblesWrapper .bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  opacity: 0.7;
  transition: 1s 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hexagonSVGWrapper .bubblesWrapper .bubble:nth-of-type(1),
.hexagonSVGWrapper .bubblesWrapper .fireWork:nth-of-type(3) {
  left: -30px;
  margin-top: -10px;
  transform: translateX(30px) translateY(20px) scale(0);
}

.hexagonSVGWrapper .bubblesWrapper .bubble:nth-of-type(2) {
  right: -25px;
  margin-top: 40px;
  opacity: 0.3;
  transform: translateX(-30px) translateY(-20px) scale(0);
}

.hexagonSVGWrapper .bubblesWrapper.show .bubble {
  transform: unset;
}

.hexagonSVGWrapper .bubblesWrapper.type2 .bubble:nth-of-type(1) {
  left: -25px;
  margin-top: 10px;
}

.hexagonSVGWrapper .bubblesWrapper.type2 .bubble:nth-of-type(2) {
  right: -25px;
  margin-top: -30px;
  opacity: 0.3;
}

.hexagonSVGWrapper .bubblesWrapper .fireWork:nth-of-type(3) {
  transform: translateX(40px) translateY(-20px) scale(0.5);
  margin-top: 70px;
}

.hexagonSVGWrapper .bubblesWrapper.show .fireWork:nth-of-type(3) {
  animation: 1s 0.2s fireWorksType1Anim forwards;
}

.hexagonSVGWrapper .bubblesWrapper .fireWork:nth-of-type(4) {
  /* transform: translateX(40px) translateY(-20px) scale(.5); */
  transform: scale(0.5);
  margin-top: -70px;
}

.hexagonSVGWrapper .bubblesWrapper.show .fireWork:nth-of-type(4) {
  animation: 1s 0.2s fireWorksType1Anim2 forwards;
}

@keyframes fireWorksType1Anim {
  0% {
    transform: translateX(40px) translateY(-20px) scale(0);
  }
  50% {
    transform: translateX(0px) translateY(0px) scale(0.5);
  }
  100% {
    transform: translateX(0px) translateY(0px) scale(0);
  }
}

@keyframes fireWorksType1Anim2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: translateX(40px) translateY(-20px) scale(0.5);
  }
  100% {
    transform: translateX(40px) translateY(-20px) scale(0);
  }
}

.hexagonSVG {
  position: relative;
  width: 80px;
  height: 100px;
  z-index: 1;
  height: auto;
  overflow: visible !important;
  /* border: 2px solid black; */
  /* display: none; */
}

.hexagonSVG path {
}

.hexagonPath {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center;
}

.hexagonPath:nth-of-type(3) {
  transform: translateZ(1px);
  /* display: none; */
}

.hexagonPath:nth-of-type(1) {
  transform: scale(0.95);
  transition-delay: 0s;
  /* transform: translateY(-100px) !important; */
}
.hexagonPath:nth-of-type(2) {
  transform: scale(0.95);
  transition-delay: 0.2s;
  fill: whitesmoke;
  /* fill: red; */
  /* transform: translateX(100px) !important; */
  /* display: none; */
}

.hexagonSVGWrapper.show .hexagonPath:nth-of-type(1) {
  transform: scale(1.1);
}
.hexagonSVGWrapper.show .hexagonPath:nth-of-type(2) {
  transform: scale(1.05);
}

.gradientShapeHexagon {
  position: absolute;
  left: -230px;
  top: -120px;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(white, white); */
  background-color: whitesmoke;
  opacity: 0.1;
  border-radius: 1000px;
  z-index: 5;
  transform: scaleX(0.95) scaleY(1.3) translateZ(0px);
}

.gradientShape {
  position: absolute;
  top: 0px;
  z-index: 1;
  background: linear-gradient(-0deg, rgb(12, 19, 97) 20%, rgb(8, 120, 218));
  width: 100vw;
  height: 100vh;
  /* display: none; */
}

#hexagonShapeLinearGradient {
  /* --color-stop-1: rgb(187, 185, 255);
  --color-stop-2: rgb(159, 124, 255); */

  /* --color-stop-1: rgb(117, 166, 221);
  --color-stop-2: rgb(36, 129, 184); */

  /* --color-stop-1: rgb(117, 221, 139);
  --color-stop-2: rgb(23, 172, 97); */

  /* --color-stop-1: rgb(245, 141, 58);
  --color-stop-2: rgb(230, 92, 21); */

  --color-stop-1: rgb(130, 180, 255);
  --color-stop-2: rgb(35, 118, 173);

  /* --color-stop-1: rgb(51, 209, 230);
  --color-stop-2: rgb(33, 168, 203); */

  /* --color-stop-1: rgb(39, 115, 206);
  --color-stop-2: rgb(18, 63, 155); */
}

/* #hexagonShapeRadialGradient {
  --color-stop-1: blue;
  --color-stop-2: red;
} */
