.homePage {
  padding-bottom: 30px;

  > div:nth-of-type(1) {
    margin-top: 50px;
    margin-bottom: 200px;
    max-width: 550px;
  }
}

.mainHeader {
  max-width: 600px;
  color: white;
}

.links {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: center;

  a:not(:first-of-type) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .links {
    flex-direction: column;
    width: 100%;
    align-items: center;

    a {
      width: 250px;

      &:not(:first-of-type) {
        margin-left: 0px;
        margin-top: 20px;
      }
    }
  }
}

.parallaxHexagonWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* border: 2px solid red; */

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.paragraphsWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;

  > div {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 1000px) {
  .paragraphsWrapper > div {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 860px) {
  .homePage > div:nth-of-type(1) {
    margin-top: 0px;
    top: -20px;
    z-index: 2;
  }
}

@media screen and (max-width: 770px) {
  .homePage > div:nth-of-type(1) {
    max-width: 400px;
    /* border: 1px solid red; */
  }
}

@media screen and (max-width: 700px) {
  .homePage > div:nth-of-type(1) {
    margin-top: -90px;
    margin-bottom: 290px;
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .homePage > div:nth-of-type(1) {
    margin-top: -70px;
    margin-bottom: 320px;
  }
}

.animateBtn {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 3;
  display: none;
}

.isometricProgrammerWrapper {
  position: absolute;
  right: 350px;
  top: -50px;
  width: 400px;
  height: 400px;
  /* border: 2px solid cyan; */
}
