.mainGradientShapeWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  /* border: 2px solid red; */
  opacity: 0;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  /* display: none; */
  transition: 0.001s top;
}

.mainGradientShapeWrapper.show {
  animation-name: showMainGradientShapeAnim;
}

@keyframes showMainGradientShapeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainGradientShape {
  position: absolute;
  top: -1100px;
  left: -50px;
  width: 100%;
  z-index: 1;
  fill: black;
  height: auto;
  /* transform: rotate(40deg) scale(1.1, 1); */
  transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition-duration: 0.001s;
  /* border: 5px solid blue; */
}

/* .page-enter .mainGradientShape {
  transform: rotate(40deg) scaleX(1.1);
}
.page-enter-active .mainGradientShape {
  transform: rotate(85deg) scaleX(1) scaleY(1.1);
}
.page-exit .mainGradientShape {
}
.page-exit-active .mainGradientShape {
} */

.mainGradientShape.animate {
  /* transform: rotate(85deg) scaleX(1) scaleY(1.1); */
}

.gradientShape {
  position: absolute;
  top: 0px;
  z-index: 1;
  background: linear-gradient(90deg, rgb(12, 19, 97) 20%, rgb(8, 120, 218) 40%);
  /* background: linear-gradient(90deg, rgb(12, 19, 97) 20%, rgb(12, 77, 134) 40%); */
  /* background: linear-gradient(90deg, rgb(51, 119, 182) 20%, rgb(6, 62, 110) 40%); */
  width: 100%;
  height: 100%;
}

/* .gradientShape::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(12, 19, 97, 0.5) 20%, rgb(12, 77, 134, .99) 40%);
  transition: 1s;
  opacity: 0;
}

.mainGradientShape.home .gradientShape::before {
  opacity: 1;
} */

@media screen and (min-width: 1600px) {
  .mainGradientShapeWrapper {
    width: 105vw;
    left: -3vw;
  }
}

@media screen and (max-width: 900px) {
  .mainGradientShapeWrapper {
    width: 105vw;
    height: 105vh;
  }
}
@media screen and (max-width: 800px) {
  .mainGradientShapeWrapper {
    width: 110vw;
    height: 110vh;
  }
}

@media screen and (max-width: 600px) {
  .mainGradientShapeWrapper {
    width: 115vw;
    height: 115vh;
  }

  .gradientShape {
    background: linear-gradient(90deg, rgb(12, 19, 97) 15%, rgb(8, 120, 218) 45%);
  }
}

@media screen and (max-width: 600px) {
  .mainGradientShapeWrapper {
    left: -5vw;
    width: 125vw;
    height: 125vh;
  }
}

@media screen and (max-width: 420px) {
  .mainGradientShapeWrapper {
    left: -15vw;
    width: 135vw;
    height: 135vh;
  }
}

@media screen and (max-width: 360px) {
  .mainGradientShapeWrapper {
    left: -15vw;
    width: 145vw;
    height: 145vh;
  }
}

@media screen and (max-width: 300px) {
  .mainGradientShapeWrapper {
    left: -20vw;
    width: 160vw;
    height: 160vh;
  }
}

.isometricProgrammerShadow {
  position: absolute;
  bottom: 110px;
  right: 560px;
  width: 200px;
  height: 200px;
  transform: scale(3.5);
  background: radial-gradient(rgb(15, 24, 131), transparent, transparent);
  transition: 1s;
  opacity: 0;
  /* display: none; */
}

.mainGradientShape.home .isometricProgrammerShadow {
  opacity: 0.9;
}
