.pageWrapper {
  max-width: 60%;
  max-width: 900px;
  border-radius: 20px;
  padding: 40px 40px;
  /* border: 1px solid grey; */

  h3,
  h4 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .pageWrapper p {
    font-size: 14px;
  }
}
