.phoneIcon {
  margin-top: -2px;
  border: 1px solid dimgrey;
  width: 28px;
  height: 55px;
  border-radius: 2px;
  position: absolute;
  /* margin-left: 170px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.8, 1);
  /* background: linear-gradient(rgb(61, 101, 133), rgb(176, 255, 237)); */
  background: linear-gradient(rgb(195, 201, 206), rgb(176, 255, 237));
  /* box-shadow: inset 0 3px 3px 5px rgba(61, 110, 122, 0.5); */
  /* box-shadow: inset 0 3px 3px 3px rgb(84, 180, 204); */

  z-index: 4;
  overflow: hidden;
  animation-duration: 2s;
  animation-name: phoneScreenGlowAnim;
  animation-iteration-count: infinite;
}

@keyframes phoneScreenGlowAnim {
  0% {
    box-shadow: inset 0px 0px 5px 2px rgba(110, 144, 255, 0.9);
  }
  25% {
    box-shadow: inset 0px 0px 5px 2px rgb(113, 158, 241);
  }
  50% {
    box-shadow: inset 0px 0px 5px 2px rgba(76, 118, 172, 0.9);
  }
  100% {
    box-shadow: inset 0 0px 5px 2px rgba(110, 144, 255, 0.9);
  }
}

.phoneIcon::before {
  position: absolute;
  /* content: ""; */
  width: 100%;
  height: 100%;
  /* background: linear-gradient(rgb(228, 255, 250), rgb(70, 177, 235)); */
  transform: rotate(35deg) scaleX(2) translateX(-45%);
}

.phoneIcon .notch {
  width: 100%;
  height: 14%;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: dimgray;
  /* margin-top: -1px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneIcon .notch::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 1.5px;
  background-color: white;
}

.phoneIcon .navigationBar {
  width: 100%;
  height: 12%;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: dimgray;
  /* margin-bottom: -1px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneIcon .navigationBar::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50px;
}
